body {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: "Lucida Grande", "Lucida Sans", Geneva, Verdana, sans-serif;
    overflow-x: hidden; /* Remova isso se quiser permitir rolagem horizontal */
    background-color: #222;
    color: #fff;
}

.github-card {
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, .4) 0 4px 8px;
    width: 80%;
    max-width: 480px;
    text-align: center;
    border-radius: 5px;
    background: #333;
    color: #fff;
    position: relative;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

.github-card .header {
    position: relative;
    padding: 0;
    margin: 0;
    border-radius: 4px 4px 0 0;
    background-size: cover;
    background-position: center;
    background-color: #000;
    flex: 1; /* Faz com que a imagem de cabeçalho ocupe o espaço disponível */
}

.github-card .avatar {
    position: relative;
    overflow: hidden;
    background: #333;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    text-decoration: none;
}

.github-card .avatar img {
    width: 100%;
    height: auto;
    display: block;
}

.github-card h1 {
    color: #333;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    margin: 10px 0 15px;
}

.github-card ul {
    text-transform: uppercase;
    font-size: 12px;
    color: #555;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
}

.github-card .status li {
    padding: 8px 0;
}

.github-card .status strong {
    display: block;
    color: #666;
    font-size: 14px;
    line-height: 1.6;
}

.github-card .status a {
    color: #aaa;
    text-decoration: none;
}

.github-card .status a:hover {
    color: #4183c4;
}

.hearder-search {
    padding: 20px;
    width: 80%;
    max-width: 480px;
    text-align: center;
    border-radius: 5px;
    background: #444;
    color: #fff;
    position: relative;
    margin: 50px auto;
}

.hearder-search input[type="text"] {
    padding: 10px;
    margin: 5px;
    border: 1px solid #555;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #333;
    color: #fff;
    width: 70%; /* Largura ajustável */
}

.hearder-search input[type="button"] {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #4183c4;
    color: #fff;
    cursor: pointer;
    width: 28%; /* Largura ajustável */
}

/* Adicionando uma regra de mídia para tornar o layout mais responsivo em telas menores */
@media screen and (max-width: 600px) {
    .github-card {
        width: 90%;
    }
}
